body {
  padding: 3px 10px;
  border: #000000 5px dashed;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
body{
    font-family: Times new roman;
    background: rgba(0,255,111,0.8);
    background: -moz-linear-gradient(left, rgba(0,255,111,0.8) 0%, rgba(9,125,182,0.8) 51%, rgba(9,117,186,0.79) 54%, rgba(17,0,250,0.79) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,255,111,0.8)), color-stop(51%, rgba(9,125,182,0.8)), color-stop(54%, rgba(9,117,186,0.79)), color-stop(100%, rgba(17,0,250,0.79)));
    background: -webkit-linear-gradient(left, rgba(0,255,111,0.8) 0%, rgba(9,125,182,0.8) 51%, rgba(9,117,186,0.79) 54%, rgba(17,0,250,0.79) 100%);
    background: -o-linear-gradient(left, rgba(0,255,111,0.8) 0%, rgba(9,125,182,0.8) 51%, rgba(9,117,186,0.79) 54%, rgba(17,0,250,0.79) 100%);
    background: -ms-linear-gradient(left, rgba(0,255,111,0.8) 0%, rgba(9,125,182,0.8) 51%, rgba(9,117,186,0.79) 54%, rgba(17,0,250,0.79) 100%);
    background: linear-gradient(to right, rgba(0,255,111,0.8) 0%, rgba(9,125,182,0.8) 51%, rgba(9,117,186,0.79) 54%, rgba(17,0,250,0.79) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff6f', endColorstr='#1100fa', GradientType=1 );   
}

